*{
  background-color: #f4e242;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

#text1{
  float: left;
  font-size: 20px;
  width: 85%;
  height: 800px;
}

aside{
  float: left;
  width: 14.8%;
}

aside a{
  text-decoration: none;
  color: #000;
}

aside ul li{
  text-decoration: none;
  list-style-type: none;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #b3ba35;
  background-color: #f4e242;
}

aside ul li:hover{
  background-color: #f1f07a;
}

.menu{
  float: left;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
    float: left;
}

.menu ul li:hover {
    background-color: #f1f07a;
}

.menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #000;
}
